{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Sentence to emoji</h1>
        <p class="lead">powered by NLP</p>
    </div>

    <div class="container">
        <form method="POST" action="{{ url_for('analyze')}}" id="textForm">
        <label >Enter Your Text Below</label>
        <textarea class="form-control" rows="2" cols="2" name="rawtext"></textarea>
        <br>
        <div class="text-center">
            <input type="submit" value="Analyze" class="btn btn-primary ">
        </div>
        </form>
    </div>
    <br>
    {% block respone %} {% endblock respone %}
{% endblock body %}